<div class="show-page">
  <div class="show-container">

    <div class="row section">
      <div class="columns small-12">
        <%= image_tag(@person.facebook_pic) if @person.facebook_id.present? %>
        <div class="row"><h1><%= @person.first_name %> <%= @person.last_name %></h1></div>
      </div>
    </div>
    <div class="row section">
      <div class="columns small-12">
        <%= @person.about_me %>
      </div>
    </div>
    <div class="row section">
      <div class="columns small-12">
        <%= link_to('Find on Facebook', @person.facebook_url) if @person.facebook_id.present? %>
      </div>
    </div>

  </div>
</div>


  <div class="row">
    </div>
  <div class="row">

  </div>
