<% content_for :main_section do %>
  <div class="edit">
    <p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

    <%= form_for(@program, :html => {:id => 'program_date'}, remote: true) do %>
      <%= select_date (@program.program_week), prefix: :program_week %>
    <% end %>

    <h4>Manhattan 3rd Ward</h4>
    <ul class="sortable-list connectedSortable ui-sortable program-page-layout">

      <%= @program.body_html.html_safe %>
    </ul>

    <div class="row">
      <div class="columns large-12">
        <b>Announcements / text inside program:</b>

        <div class="button small button-save">Save</div>
        <div id="announcements" class="editor program-page" contenteditable='true'>
          <%= @program.announcements.html_safe %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12 announcements">
        <b>Announcements / text on back of program:</b>

        <div class="button button-save">Save</div>
        <div id="announcements2" class="editor program-page" contenteditable='true'>
          <%= @program.announcements2.html_safe %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<% content_for :side_section do %>
  <div class="row">
    <h4>Program Items</h4>
    <ul class="sortable-option-list connectedSortable selection-list">
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Presiding", people: @people, extra_class: 'unique'} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Conducting", extra_class: 'unique', people: @people} %>
      <%= render :partial => 'items/hymn', locals: {name: "Opening Hymn", extra_class: 'unique'} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Invocation", extra_class: 'unique', people: @people} %>
      <%= render :partial => 'items/one_line_item', locals: {name: "Ward Business", extra_class: 'unique', people: @people} %>
      <%= render :partial => 'items/hymn', locals: {name: "Sacrament Hymn", extra_class: 'unique'} %>
      <%= render :partial => 'items/one_line_item', locals: {name: "Administration of the Sacrament", extra_class: 'unique', people: @people} %>
      <%= render :partial => 'items/one_line_item', locals: {name: "Bearing of Testimonies", extra_class: 'unique', people: @people} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Speaker", extra_class: 'multiple', people: @people} %>
      <%= render :partial => 'items/hymn', locals: {name: "Intermediate Hymn", extra_class: 'unique'} %>
      <%= render :partial => 'items/hymn', locals: {name: "Closing Hymn", extra_class: 'unique'} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Benediction", extra_class: 'unique', people: @people} %>
      <% @items.each do |item| %>
        <%= item.content %>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'pictures' %>

<% end %>


