<% content_for :main_section do %>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Program week:</b>
    <%= @program.program_week %>
  </p>

  <h4>Manhattan 3rd Ward</h4>
  <div class="program-page-layout">
    <%= @program.body_html.html_safe %>
  </div>

  <div style="clear:both; display: none">
    <b>Announcements:</b>
    <%= @program.announcements %>
  </div>

<% end %>

<% content_for :side_section do %>
  <div class="row">
    <h4>Program Items</h4>
    <ul class="sortable-option-list connectedSortable selection-list">
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Presiding", people: @people} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name:  "Conducting", people: @people} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name:  "Invocation", people: @people} %>
      <%= render :partial => 'items/one_line_item', locals: {name:  "Ward Business", people: @people} %>
      <%= render :partial => 'items/one_line_item', locals: {name:  "Administration of the Sacrament", people: @people} %>
      <%= render :partial => 'items/hymn', locals: {name:  "Closing Hymn", people: @people} %>
      <%= render :partial => 'items/one_line_item_with_person', locals: {name: "Benediction", people: @people} %>
      <% @items.each do |item| %>
        <%= item.content %>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'pictures' %>

<% end %>


