<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>

  <title>Print Program</title>
  <%= stylesheet_link_tag "application", media: 'all' %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row page-1">
  <div class="row">
    <div class="columns small-6">

    </div>
    <div class="columns small-6">
      <div class="cover-pic">
        <%= image_tag("http://media.ldscdn.org/images/media-library/gospel-art/#{@program.cover_pic_url}-tablet.jpg") %>
        <h4>Manhattan 3rd Ward</h4>
        <%= @program.program_week %>
      </div>
    </div>

  </div>

</div>
<div class="row page-2 page-break">
  <div class="columns large-6 program-page-layout">
    <%= @program.body_html.html_safe %>
  </div>
  <div class="columns large-6">
    <h4>Announcements:</h4>
    <%= @program.announcements %>
  </div>
</div>
</body>