<% content_for :main_section do %>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Program week:</b>
    <%= @program.program_week %>
  </p>

  <h4>Manhattan 3rd Ward</h4>
  <div class="program-page-layout">
    <ul class="sortable-list connectedSortable">
      <%= render :partial => 'one_line_item_with_person', :locals => { :name => "Presiding"} %>
      <%= render :partial => 'one_line_item_with_person', :locals => { :name => "Conducting"} %>
      <%= render :partial => 'one_line_item_with_person', :locals => { :name => "Invocation"} %>
      <%= render :partial => 'one_line_item', :locals => { :name => "Ward Business"} %>
      <%= render :partial => 'one_line_item', :locals => { :name => "Administration of the Sacrament"} %>
      <%= render :partial => 'one_line_item_with_person', :locals => { :name => "Benediction"} %>
    </ul>
  </div>



  <div style="clear:both; display: none">
    <b>Announcements:</b>
    <%= @program.announcements %>
  </div>

<% end %>

<% content_for :side_section do %>
  <div class="row">
    <h4>Program Items</h4>
    <ul class="sortable-option-list connectedSortable">
      <% @items.each do |item| %>
        <%= item.content %>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <h4>Ward Members</h4>

    <div class="selection-list">
      <% @people.each do |person| %>
        <div class='person draggable'>
          <div class="member-selection-visible">
            <%= "#{person.last_name}, #{person.first_name}" %>

            <%= content_tag(:a, :href => edit_person_path) do %>
              <i class="icon-chevron-right"></i>
            <% end %>
          </div>
          <div class="program-visible">
            <%= link_to(person.full_name, person) %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="row">
    <h4>Hymns</h4>
    <select class="chzn-select">
      <option>Pick a Hymn</option>
      <% @hymns.each do |hymn| %>
        <option id="<%= hymn.hymn_number %>" hymn-link="<%= hymn.link %>"><%= hymn.title %></option>
      <% end %>
    </select>
  </div>

<% end %>


