<li class="ui-state-default <%= extra_class %>" data-item-name="<%= name %>">
  <div class="one-line line droppable">
    <div class="throw-in-trash"><i class="icon-trash"></i></div>
    <div class="item-with-elipses"><%= name %></div>
    <div class="choose-item">
      <select class="chzn-select">
        <option>Pick a Person</option>
        <% @people.each do |person| %>
          <option value="<%= person.id %>" link="<%= person_path(person) %>"><%= person.full_name %></option>
        <% end %>
      </select>
    </div>
    <div class="person modified-item">
      <a>
        <div class="hymn-number modified-name"></div>
      </a>
    </div>
  </div>
</li>